﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ucFooter.ascx.cs" Inherits="MyWeb.views.control.ucFooter" %>
<div class="box-footer">
    <asp:Literal ID="ltrFooter" runat="server"></asp:Literal>
</div>