﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ucFilterManufac.ascx.cs" Inherits="MyWeb.views.products.ucFilterManufac" %>
<%if(ltrData.Text!="") {%>
<div class="box-fillter-manufac">
    <asp:Literal ID="ltrData" runat="server"></asp:Literal>
</div>
<%} %>